<ion-card class="order-item" *ngIf="order" button>
  <ion-row class="order-item__header ion-align-items-center">
    <div class="order-item__code">
      Mã #{{order?.name}}
    </div>
    <div>
      {{utilService.convertStringToDateTime(order.dateOrder)}}
    </div>
  </ion-row>
  <ion-row class="order-info">
    <span>Khách hàng: {{order.displayName}}</span>
  </ion-row>
  <ion-row class="order-info">
    <span>SĐT: {{order.phone}}</span>
  </ion-row>
  <ion-row class="order-info">
    <span>Trả tiền chiết khấu: {{order.pay_discount_type === 'after' ? 'Trả sau' : 'Trừ trên tiền hàng'}}</span>
  </ion-row>
  <ion-row class="order-info">
    <span>Người trả tiền ship: {{order.pay_ship_type === 'daily' ? isDaiLy ? 'Đại lý' : 'CTV' : 'Khách trả'}}</span>
  </ion-row>
  <ion-row class="order-info" style="margin-bottom: 5px; padding-bottom: 5px ;border-bottom: 0.5px solid #c8c7cc;">
    <span>Phương thức thanh toán: {{order.payment}}</span>
  </ion-row>
  <ng-container *ngFor="let lineItem of order.orderLines">
    <ion-item lines="none" detail="false">
      <!-- <ion-avatar slot="start" class="order-item__img">
        <img src="">
      </ion-avatar> -->
      <ion-label class="order-item__info">
        <div class="order-item__name">
          {{ lineItem.name }}
        </div>
        <div *ngIf="lineItem.note" class="order-item__name" style="color: #666666;">
          Ghi chú: {{ lineItem.note }}
        </div>
        <div class="ion-margin-top order-item__price">
          <ion-lable>SL: {{lineItem.quantity}}</ion-lable>
          <ion-lable style="margin-left: auto; color: red;">{{lineItem.priceSubtotal| currency:'VND':'symbol'}}</ion-lable>
        </div>
      </ion-label>
    </ion-item>
  </ng-container>
  <ion-item *ngIf="order.totalDiscount">
    <ion-label style="text-align: right; margin-right: 7px;">Giảm giá: </ion-label>
    <ion-lable style="color:red;">{{order.totalDiscount| currency:'VND':'symbol'}}</ion-lable>
  </ion-item>
  <ion-item>
    <ion-label style="text-align: right; margin-right: 7px;">Chiết khấu: </ion-label>
    <ion-lable style="color:red;">{{order.agent_partner_discount| currency:'VND':'symbol'}}</ion-lable>
  </ion-item>
  <ion-row class="order-info">
    <span>Vận chuyển: {{order.ship_partner}}</span>
  </ion-row>
  <ion-item>
    <ion-label style="text-align: right; margin-right: 7px;">Phí ship: </ion-label>
    <ion-lable style="color:red;">{{order.amount_delivery| currency:'VND':'symbol'}}</ion-lable>
  </ion-item>
  <ion-item *ngIf="segment === 'sale'" (click)="showModalTimeLine(order.state)">
    <div style="display: flex; justify-content: space-between; width: 100%;color: #108a61;">
      <span>
        {{STATE_SALE_ORDER[order.state]}}
      </span>
      <span>></span>
    </div>
  </ion-item>
  <ion-item>
    <ion-button *ngIf="segment === 'draft'" (click)="cancelOrder()">Huỷ đơn</ion-button>
    <ion-button *ngIf="segment === 'sale' && hasPermCompleteOrder" (click)="completeOrder()">Hoàn thành</ion-button>
    <ion-label style="text-align: right; margin-right: 7px; font-weight: bold;">Tổng tiền: </ion-label>
    <ion-lable style="color:red;">{{order.amountTotal| currency:'VND':'symbol'}}</ion-lable>
  </ion-item>
</ion-card>

