<ion-header color="mytheme" class="head ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-img style="margin: 10%;" src="assets/logo.svg" class="head-image"></ion-img>
  </ion-row>
</ion-header>

<ion-content class="ion-padding">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <ion-text><h3 class="ion-text-center ion-margin-bottom title">Quên mật khẩu</h3></ion-text>
  <ion-grid>
    <form [formGroup]="form"  (ngSubmit)="forgotPwd(form.value)">
      <ion-row>
        <ion-col>
          <ion-input clearInput formControlName="phoneNumber" placeholder="Số điện thoại"  class="input ion-padding-horizontal"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" [disabled]="!form.valid" color="mytheme"><strong class="white">Lấy lại mật khẩu</strong></ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
