<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Lịch sử đơn hàng</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only" class="white top-btn ion-no-margin" ></ion-icon>
      </ion-button>
      <ion-button (click)="fun.navigate('search')">
        <ion-icon name="search" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="isLogin" color="mytheme" class="segmenttoolbarSection">
    <ion-segment (ionChange)="seg($event)" mode="md" scrollable="true" id="dag" class="segSection">
      <ion-segment-button [attr.id]="'seg_' + i" *ngFor="let item of statusList; let i = index;" (ionSelect)="update(i)" class="my-btn ion-no-margin ion-no-padding"
        [value]="item.code" [ngClass]="{'btn-active':segment === item.code}">
        <ion-text padding-horizontal class="text">{{item.title}}</ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <!-- <ion-item lines="none" *ngFor="let order of orders" class="card ion-margin-bottom ion-no-padding" (click)="open(order)">
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <img [src]="order.product.image[0]">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-text>
            <h5 class="title ion-no-margin"><strong>{{order.product.name}}</strong></h5>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text>
            <h6 class="sub ion-no-margin">{{order.status}}</h6>
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="ion-float-right" size="2">
        <ion-icon class="item-icon mycolor ion-float-right" name="arrow-dropright" mode="ios"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-item> -->

  <app-spinner *ngIf="isLoading"></app-spinner>
  <ng-container *ngIf="isLogin && orders && orders.length > 0; else noOrder">
    <ng-container *ngFor="let order of orders">
      <app-order-item [order]="order" [segment]="segment">
      </app-order-item>
      <app-divider [forceFullWith]="true" [innerHeight]="1" [height]="1"></app-divider>
    </ng-container>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Đang tải thêm...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ng-template #noOrder>
    <div style="margin-top: 20%; text-align: center;">
      <ion-label *ngIf="isLogin">Bạn chưa có đơn hàng nào</ion-label>
      <ion-label *ngIf="!isLogin">Bạn cần đăng nhập</ion-label>
    </div>
  </ng-template>
</ion-content>