<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" (click)="fun.navigate('search')" placeholder="Tìm kiếm sản phẩm" class="search-bar ion-padding-start"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="side_open()">
        <ion-icon name="switch" slot="icon-only" *ngIf="segment!==data[1].title" class="white top-btn ion-no-margin"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="mytheme" class="segmenttoolbarSection">
      <ion-segment mode="md"  (ionChange)="seg($event)" scrollable="true" id="dag" class="segSection">
        <ion-segment-button   [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" class="ion-no-margin ion-no-padding" (ionSelect)="update(i)"
          class="my-btn" [value]="item.title" [ngClass]="{'btn-active':segment === item.title}">
          <ion-text class="text ion-padding-horizontal">{{item.title}}</ion-text>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar> -->
</ion-header>

<ion-content padding color="light">

  <app-spinner *ngIf="isLoading"></app-spinner>

  <ion-text class="ion-text-center" color="primary">
    <h6>Sản Phẩm Nổi Bật!</h6>
  </ion-text>
  <ion-slides class="banner" pager="true" [options]="slideOpts" (ionSlideDidChange)="change()" (click)="preventDefault($event)" #Slides>
    <ion-slide *ngFor="let banner of banners">
      <div class="slide-banner" (click)="goToOutstandingProductsPage(banner)">
        <img [src]="banner.image" alt="">
      </div>
    </ion-slide>
  </ion-slides>
  <ion-text class="ion-text-center" color="primary">
    <h6>Voucher</h6>
  </ion-text>
  <ion-slides pager="true" [options]="slideVouchers" (click)="preventDefault($event)">
    <ion-slide class="voucher-slide" *ngFor="let voucher of vouchers">
      <div class="card-voucher">
        <div class="card-voucher-icon">
          <img src="assets/logo.svg" alt="">
        </div>
        <div class="card-voucher-content">
          <div>
            <div class="card-voucher-content-title">{{voucher.name}}</div>
          <div class="card-voucher-content-code">{{voucher.code}}</div>
          </div>
          <div class="card-voucher-content-bottom">
            <div class="card-voucher-content-bottom-date">HSD: {{utilService.convertStringToDate(voucher.expiredDate)}}</div>
            <ion-button (click)="saveCoupon(voucher)" *ngIf="!voucher.isSave" shape="round" size="small">Lưu</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-text class="ion-text-center" color="primary">
    <h6>Chương trình khuyến mại</h6>
  </ion-text>
  <ion-slides class="promotions" pager="true" [options]="slidePromodtion" (click)="preventDefault($event)">
    <ion-slide class="promotion-slide" *ngFor="let promotion of promotions">
      <ion-card>
        <img style="width:100%;" [src]="promotion.image_url" [alt]="promotion.name" >
        <ion-card-content>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-text class="ion-text-left"><span class="content-title">{{promotion.name}}</span></ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-text>
              <div style="margin-bottom: 10px;" class="content-code">{{promotion.code}}</div>
            </ion-text>
          </ion-row>
          <ion-row>
            <ion-text>
              <div class="content-bottom-date">HSD: {{utilService.convertStringToDate(promotion.expiredDate)}}</div>
            </ion-text>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-text *ngIf="producer else noProducer" class="ion-text-left" color="primary">
    <h6 style="padding-left: 3px; margin-bottom: 0">{{ producer | titlecase }}</h6>
  </ion-text>
  <ng-template #noProducer>
    <ion-text class="ion-text-center" color="primary">
      <h6>Sản Phẩm</h6>
    </ion-text>
  </ng-template>
  <app-productlist [recieved_data]="products"></app-productlist>

<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Đang tải thêm...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
