.search-bar {
    background-color: rgba(253, 253, 253, 0.9);
    border-radius: 3px;
    font-size: .9em !important;
}
.hor-scroll{
    height: 30px;
}
.menu {
    color: white !important;
}
.my-btn{
    border: unset !important;
    border-radius: 5px !important;
    color: rgb(250, 250, 250);
    margin: 0 12px !important;
    width: fit-content;
    --background-checked: transparent;
    min-height: 25px;
}
.text {
    font-size: 12px;
    padding-bottom: 5px;
}
.btn-active{
    background-color: unset;
    color: white;
    font-weight: 800;
    font-size: 21px;
    ion-text{
        color: white;
        padding-bottom: 5px;
    }
}
ion-segment-button::part(indicator-background) {
    background: white;
}
ion-segment-button.md::part(indicator-background) {
    height: 2px;
}

#dag{
    scroll-behavior: smooth;
}

.segmenttoolbarSection{
    --min-height: 30px;
    .segSection{
        display: flex;
        align-items: flex-end;
        min-height:30px;
    }
}

ion-slides {
    margin-top: 10px;
}

.slide-banner {
    padding: 0 5px;
    width: 100%;
    border-radius: 9px;
    img {
        width: 100%;
        border-radius: 9px;
    }
}
.voucher-slide {
    width: 360px !important;
}
.card-voucher {
  width: 100%;
  margin: 1px 5px 3px 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  &-icon {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dashed #cccccc;
  }

  &-content {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;

    &-title {
        font-size: 15px;
        padding: 5px 0;
        text-align: left;
    }
    &-code {
        font-size: 13px;
        text-align: left;
        color: #555555;
    }
    &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-date {
            font-size: 13px;
            text-align: left;
            color: #555555;
        }
    }
  }
}

// ion-infinite-scroll-content {
//     min-height: 0px !important;
// }
